In [1]:
lst = [0, 1, 2, 3, 4, 5, 6, 7, 8]

In [2]:
list

list

In [9]:
def sq(x):
    return x*x

In [10]:
sq(5)

25

In [4]:
list(map(sq, lst))

[0, 1, 4, 9, 16, 25, 36, 49, 64]

In [5]:
sqr=[]
for i in lst:
    sqr.append(sq(i))
print(sqr)

[0, 1, 4, 9, 16, 25, 36, 49, 64]

In [6]:
l1=['a','b','c','d','e','f','g','h','i','j','k','l','m','n']

In [7]:
l1.append('k')

In [8]:
l1

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'k']

In [11]:
l1[0:3]

['a', 'b', 'c']

In [13]:
l2=[]
for i, v in enumerate(l1):
    print(i, v)
    if i==3:
        break
    l2.append(v)

print(l2)

0 a
1 b
2 c
3 d
['a', 'b', 'c']

In [14]:
mylist=[1,2,3,4,5,6,7,8,9]

In [15]:
mysq=[x*x for x in mylist]
mysq

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [19]:
# if value is less than 5 squre it. Otherwise don't do anything
mysq=[x*x if x < 5 else x for x in mylist]
mysq

[1, 4, 9, 16, 5, 6, 7, 8, 9]

In [20]:
# get the last value of mysq
mysq[-1]

9

In [21]:
# get the last three values of mysq
mysq[-3:]

[7, 8, 9]

In [23]:
# make a list of 100 random numbers as randomlist
import random
randomlist = random.sample(range(0, 100), 100)
randomlist

[93,
 63,
 44,
 14,
 88,
 27,
 16,
 97,
 68,
 74,
 56,
 23,
 30,
 21,
 58,
 0,
 64,
 41,
 69,
 92,
 75,
 83,
 40,
 28,
 51,
 12,
 73,
 61,
 10,
 33,
 35,
 85,
 57,
 26,
 29,
 48,
 31,
 59,
 1,
 42,
 6,
 8,
 76,
 9,
 60,
 90,
 72,
 77,
 47,
 13,
 89,
 62,
 43,
 80,
 19,
 70,
 96,
 95,
 4,
 37,
 65,
 39,
 17,
 7,
 18,
 45,
 91,
 24,
 46,
 50,
 11,
 15,
 49,
 2,
 71,
 99,
 78,
 86,
 79,
 87,
 67,
 55,
 25,
 84,
 94,
 52,
 34,
 3,
 20,
 53,
 54,
 66,
 98,
 82,
 81,
 38,
 5,
 22,
 32,
 36]